<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>searchBuilding</servlet-name>
        <servlet-class>controller.searchBuilding</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userDetail</servlet-name>
        <servlet-class>controller.userDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>projectDetail</servlet-name>
        <servlet-class>controller.projectDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchBuilding</servlet-name>
        <url-pattern>/searchBuilding</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userDetail</servlet-name>
        <url-pattern>/userDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projectDetail</servlet-name>
        <url-pattern>/projectDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login_page.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>landDetail</servlet-name>
        <servlet-class>controller.landDetail</servlet-class>
    </servlet>
</web-app>
