#main_body .detail_bar .table_container .table_contract {position: absolute; color: #191919; border-collapse: collapse; border-spacing: 0px; width: 100%;}
#main_body .detail_bar .table_container .table_contract th {padding: 8px; border-bottom: 1px solid #D3D3D3; color: #777777; font: 14px "Helvetica Neue","Segoe UI",Helvetica,Verdana,san-serif; pointer-events: none}
#main_body .detail_bar .table_container .table_contract th:last-child {border-right: 0px;}
#main_body .detail_bar .table_container .table_contract tr {border: 0px solid white;}
#main_body .detail_bar .table_container .table_contract tr:first-child {pointer-events: none}
#main_body .detail_bar .table_container .table_contract td {line-height: 31px; text-align: center; font-size: 15px;}
#main_body .detail_bar .table_container .table_contract td:nth-child(3) {text-align: left; padding-left: 10px}
#main_body .detail_bar .table_container .table_contract td:nth-child(4) {padding-left: 10px}
#main_body .detail_bar .table_container .table_contract td:last-child {border-right: 0px; background: url("../images/ic_detail.png") no-repeat center; cursor: pointer;}
#main_body .detail_bar .table_container .table_contract td:last-child input {border: 0; background: transparent; color: transparent; width: 150px; height: 30px; cursor: pointer;}

#main_body .detail_bar .table_container .row_contract a {position: absolute; height: 547px; top: 0px;border-right: 1px solid #D3D3D3; margin-left: -1px;}
#main_body .detail_bar .table_container .row_contract a:first-child {left: 9%;}
#main_body .detail_bar .table_container .row_contract a:nth-child(2) {left: 18%;}
#main_body .detail_bar .table_container .row_contract a:nth-child(3) {left: 35%;}
#main_body .detail_bar .table_container .row_contract a:nth-child(4) {left: 52%;}
#main_body .detail_bar .table_container .row_contract a:nth-child(5) {left: 69%;}
#main_body .detail_bar .table_container .row_contract a:nth-child(6) {left: 86%;}

.ui-widget div input{ width: 170px; }
.ui-widget div:first-child { width: 570px; }
.addNewContract div:nth-child(2) { width: 570px; margin-bottom: 20px;}
.ui-widget div:nth-child(4) { margin-left: 41px;}
.ui-widget div:nth-child(6) { margin-left: 41px;}

.ui-widget div .plus_navigation {width: 21px; height: 21px; vertical-align: middle; margin-top: -5px; margin-left: 5px;}
.ui-widget div .customer {margin-left: 10px;}
.ui-widget div .roomId {margin-left: 16px;}
.ui-widget div .date {margin-left: 41px;}
.ui-widget div .deposit {margin-left: 21px;}
.ui-widget div .payment {margin-left: 5px;}
.ui-widget div .due {margin-left: 69px;}
.ui-widget div input:focus {outline: 1px solid #CF2525; border: 1px solid #CF2525;}
.ui-widget .edit_menu input:focus {outline: 0px; border: 1px solid rgba(0, 0, 0, 0.15); box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);}
