html{font-weight: normal; background: none repeat scroll 0% 0% #e5e5d5; color: #FFF}
html, body{margin: 0px; padding: 0px; height: 100%; width: 100%; position: relative; overflow: hidden; text-align: left; font: 12px "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;}
