#main_body .detail_bar .table_container .table_land {position: absolute; color: #191919; border-collapse: collapse; border-spacing: 0px; width: 100%;}
#main_body .detail_bar .table_container .table_land th {padding: 8px; border-bottom: 1px solid #D3D3D3; color: #777777; font: 14px "Helvetica Neue","Segoe UI",Helvetica,Verdana,san-serif; pointer-events: none}
#main_body .detail_bar .table_container .table_land th:last-child {border-right: 0px;}
#main_body .detail_bar .table_container .table_land tr {border: 0px solid white;}
#main_body .detail_bar .table_container .table_land tr:first-child {pointer-events: none}
#main_body .detail_bar .table_container .table_land td {line-height: 31px; text-align: center; font-size: 15px;}
#main_body .detail_bar .table_container .table_land td:nth-child(3) {text-align: left; padding-left: 10px}
#main_body .detail_bar .table_container .table_land td:last-child {border-right: 0px; background: url("../images/ic_detail.png") no-repeat center; cursor: pointer;}
#main_body .detail_bar .table_container .table_land td:last-child input {border: 0; background: transparent; color: transparent; width: 150px; height: 30px; cursor: pointer;}

#main_body .detail_bar .table_container .row_land a {position: absolute; height: 547px; top: 0px;border-right: 1px solid #D3D3D3; margin-left: -1px;}
#main_body .detail_bar .table_container .row_land a:first-child {left: 6%;}
#main_body .detail_bar .table_container .row_land a:nth-child(2) {left: 12%;}
#main_body .detail_bar .table_container .row_land a:nth-child(3) {left: 44%;}
#main_body .detail_bar .table_container .row_land a:nth-child(4) {left: 58%;}
#main_body .detail_bar .table_container .row_land a:nth-child(5) {left: 72%;}
#main_body .detail_bar .table_container .row_land a:nth-child(6) {left: 86%;}

.ui-widget div input {width: 170px;}
.ui-widget div:first-child {width: 570px;}
.ui-widget div:nth-child(2) {margin-bottom: 20px;}
.ui-widget div:nth-child(4) {margin-left: 30px;}
.ui-widget div:nth-child(6) {margin-left: 30px; margin-bottom: 20px;}
.ui-widget div:nth-child(7) {}
.ui-widget div:nth-child(8) {margin-left: 100px;}
.ui-widget div:nth-child(9) {float: left; margin-left: 55px;}

.ui-widget div .plus_navigation{width: 21px; height: 21px; vertical-align: middle; margin-top: -5px; margin-left: 3px;}
.ui-widget div .land_size {margin-left: 35px; margin-top: 1px;}
.ui-widget div .land_address {margin-left: 10px; width: 440px;}
.ui-widget div .land_status {margin-left: 20px;}
.ui-widget div .land_type {margin-left: 9px;}
.ui-widget div .land_price {margin-left: 63px;}
.ui-widget div .land_total {margin-left: 29px}
.ui-widget div .total_price {margin-left: 28px}
.ui-widget div .land_image {margin-left: 54px; width: 470px;}

.ui-widget div input:focus {outline: 1px solid #CF2525; border: 1px solid #CF2525;}
.ui-widget .edit_menu input:focus {outline: 0px; border: 1px solid rgba(0, 0, 0, 0.15); box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);}


.ui-widget .deleteLand div:nth-child(2) {margin-bottom: 0px;}