#main_body .detail_bar .table_container .table_project {position: absolute; color: #191919; border-collapse: collapse; border-spacing: 0px; width: 100%;}
#main_body .detail_bar .table_container .table_project th {padding: 8px; border-right: 1px solid #D3D3D3; border-bottom: 1px solid #D3D3D3; color: #777777; font: 14px "Helvetica Neue","Segoe UI",Helvetica,Verdana,san-serif;}
#main_body .detail_bar .table_container .table_project th:last-child {border-right: 0px;}
#main_body .detail_bar .table_container .table_project tr {border: 0px solid white;}
#main_body .detail_bar .table_container .table_project tr:first-child {pointer-events: none}
#main_body .detail_bar .table_container .table_project td {border-right: 1px solid #D3D3D3; line-height: 31px; text-align: center; font-size: 15px;}
#main_body .detail_bar .table_container .table_project td:nth-child(3) {text-align: left; padding-left: 10px}
#main_body .detail_bar .table_container .table_project td:nth-child(4) {text-align: left; padding-left: 10px}
#main_body .detail_bar .table_container .table_project td:last-child {border-right: 0px; background: url("../images/ic_detail.png") no-repeat center; cursor: pointer;}
#main_body .detail_bar .table_container .table_project td:last-child input {border: 0; background: transparent; color: transparent; width: 150px; height: 30px; cursor: pointer;}

#main_body .detail_bar .table_container  .project_container {color: #191919; margin-top: 36px; position: absolute; padding: 28px 13px;}
#main_body .detail_bar .table_container  .project_container #project {float: left; background-image: linear-gradient(to top, #F1F1F1, #FFF); border-width: 1px; border-style: solid; border-color: #D2D2D2 #C9C8C8 #C3C3C2; box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15); 
                                                                      color: #3E3E3E; border-radius: 6px; background-color: #EAE9E9; background-repeat: no-repeat; border: 1px solid rgba(0, 0, 0, 0.15); font-size: 12px; width: 154px; height: 195px; margin: 15px 12px;}
#main_body .detail_bar .table_container  .project_container #project:hover {box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);}
#main_body .detail_bar .table_container  .project_container #project #pro_img {width: 100px; height: 125px; margin: 10px 0 5px 0;}
#main_body .detail_bar .table_container  .project_container #project #progress-bar-container {width:80%; height:10px; border:1px solid gray; border-radius: 8px; overflow: hidden; margin-top: 2px;}
#main_body .detail_bar .table_container  .project_container #project #progress-bar-container .percent {position: absolute; width: 22%; margin-top: -1px; font-size: 9px;}


.ui-widget div input {width: 170px;}
.ui-widget div:first-child {width: 570px;}
.ui-widget div:nth-child(2) {margin-bottom: 20px;}
.ui-widget div:nth-child(4) {margin-left: 40px;}
.ui-widget div:nth-child(6) {margin-left: 40px; margin-bottom: 20px;}
.ui-widget div:nth-child(7) {}
.ui-widget div:nth-child(8) {margin-left: 100px;}
.ui-widget div:nth-child(9) {float: left; margin-left: 55px;}

.ui-widget div .plus_navigation {width: 21px; height: 21px; vertical-align: middle; margin-top: -5px; margin-left: 5px;}
.ui-widget div .pro_name {margin-left: 8px; margin-top: 1px;}
.ui-widget div .building_id {margin-left: 41px; width: 435px;}
.ui-widget div .complete_percent {margin-left: 31px;}
.ui-widget div .create_data {margin-left: 10px;}
.ui-widget div .building_period {margin-left: 51px;}
.ui-widget div .finish_data {margin-left: 15px;}
.ui-widget div .land_image {margin-left: 55px; width: 470px;}
.ui-widget div input:focus {outline: 1px solid #CF2525; border: 1px solid #CF2525;}
.ui-widget .edit_menu input:focus {outline: 0px; border: 1px solid rgba(0, 0, 0, 0.15); box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);}
