#main_body .detail_bar .table_container .table_project {position: absolute; color: #191919; border-collapse: collapse; border-spacing: 0px; width: 100%;}
#main_body .detail_bar .table_container .table_project th {padding: 8px; border-right: 1px solid #D3D3D3; border-bottom: 1px solid #D3D3D3; color: #777777; font: 14px "Helvetica Neue","Segoe UI",Helvetica,Verdana,san-serif;}
#main_body .detail_bar .table_container .table_project th:last-child {border-right: 0px;}
#main_body .detail_bar .table_container .table_project tr {border: 0px solid white;}
#main_body .detail_bar .table_container  .project_container {color: #191919; margin-top: 36px; position: absolute; padding: 28px 13px;}


#main_body .detail_bar .table_container  .project_container .projectImage {float: left; }
#main_body .detail_bar .table_container  .project_container .projectImage img {margin-left: 145px; margin-bottom: 10px; }

#main_body .detail_bar .table_container  .project_container .projectDetail {float: left; margin-left: 148px; }
#main_body .detail_bar .table_container  .project_container .proDetail {float: left; margin-left: 20px; }
#main_body .detail_bar .table_container  .project_container .buildingDetail {float: left; width: 100%; margin-left: 145px; margin-bottom: 10px; }
#main_body .detail_bar .table_container  .project_container .buildingDetailLeft {float: left; width: 10%; }
#main_body .detail_bar .table_container  .project_container .buildDetailLeft {float: left; width: 40%; }
#main_body .detail_bar .table_container  .project_container .buildingDetailRight {float: left; width: 11%; }
#main_body .detail_bar .table_container  .project_container .buildDetailRight {float: left; width: 39%; }

#main_body .detail_bar .table_container  .project_container #progress-bar-container {width:85%; height:30px; border:1px solid gray; border-radius: 20px; overflow: hidden; margin-left: 85px;}
#main_body .detail_bar .table_container  .project_container #progress-bar-container .percent {position: absolute; width: 84%; padding-top: 4px; }